{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Conoce nuestras cabañas</h6>
            <h1>Todas las cabañas se encuentran en medio de la naturaleza y a pasos del río .</h1>
        </div>
        <div class="row">
          {% for cabana in cabanas %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    {% if cabana.imagenes.first %}
                        <img class="img-fluid" src="{{ cabana.imagenes.first.imagen.url }}" alt="{{ cabana.nombre_cabana }}">
                    {% else %}
                        <img class="img-fluid" src="{% static 'core/img/default_cabana.jpg' %}" alt="Imagen no disponible">
                    {% endif %}

                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-user text-primary mr-2"></i> Hasta {{ cabana.capacidad }} Personas</small>
                        </div>
                        <a class="h5 text-decoration-none" href="{% url 'cabana_detalle' cabana.id %}">{{ cabana.nombre_cabana }}</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.8 <small>(40)</small></h6>
                                <h5 class="m-0">${{ cabana.precio }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
<!-- Packages End -->
{% endblock %}
