{% extends 'core/base.html' %}
{% load static %}
{% block content %}


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-150 h-150" src="{% static 'core/img/inicio.jpeg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h1 class="mb-3">Sobre nosotros</h1>
                        <p>Ubicadas en un entorno natural y lleno de tranquilidad, Las Cabañitas es el lugar ideal para desconectar y disfrutar de una estadía inolvidable. Nuestras cabañas combinan comodidad y encanto, ofreciendo el refugio perfecto para quienes buscan relajarse, explorar y vivir momentos únicos rodeados de naturaleza. Aquí, cada detalle está pensado para que te sientas como en casa. ¡Te invitamos a descubrir todo lo que tenemos para ofrecerte y a reservar tu próxima escapada con nosotros!
                        </p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'core/img/portadita.jpg' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'core/img/cabaña2.jpg' %}" alt="">
                            </div>
                        </div>
                        <a href="" class="btn btn-primary mt-1">Reserva aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Opiniones</h6>
                <h1>Lo que dicen nuestros clientes</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"Quedamos más que sorprendidos con el lugar, la atención es excelente. El lugar es hermoso y los dueños se preocupan de que siempre existan actividades"</p>
                        <h5 class="text-truncate">Martín Espinoza</h5>
                    </div>
                </div>
                <div class="text-center">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"Nos encantó la tranquilidad del lugar y la conexión con la naturaleza. Fue el escape perfecto para desconectar y disfrutar en familia. Definitivamente volveremos a Las Cabañitas en nuestras próximas vacaciones."</p>
                        <h5 class="text-truncate">Sebastián Contreras</h5>
                    </div>
                </div>
                <div class="text-center">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"Las cabañas con estufa a leña, completamente equipadas, el paisaje maravilloso, el río y la amabilidad de su gente lejor lo mejor, recomiendo mucho este lugar."</p>
                        <h5 class="text-truncate">Alexis Cubillos</h5>
                    </div>
                </div>
                <div class="text-center">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">"Pasamos un fin de semana increíble en la cabaña Kutral. Recomendamos mucho este lugar para quienes buscan paz y descanso en el sur de Chile."</p>
                        <h5 class="text-truncate">Camila Muñoz </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    
{% endblock %}