{% extends 'core/base.html' %}
{% load static %}
{% block content %}



    <!-- Contenido del Inventario -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mb-5">
                <h1 class="display-4">Inventario Cabaña {{ numero_cabana }}</h1>
            </div>
            
            <!-- Lista de Inventario -->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">Lista de Items</h5>
                        </div>
                        <div class="card-body">
                            <!-- Aquí irá la tabla con datos de la BD -->
                            <p class="text-center">No hay items registrados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}