{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Título Inventario -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="display-4">INVENTARIO</h1>
        </div>

        <div class="row">
            {% for cabana in cabanas %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="d-flex align-items-center p-3">
                        <div class="flex-shrink-0">
                            <img src="{{ cabana.imagenes.first.imagen.url }}" alt="{{ cabana.nombre_cabana }}" 
                                style="width: 120px; height: 90px; object-fit: cover; border-radius: 8px;">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h5 class="mb-1">Cabaña: {{ cabana.nombre_cabana }}</h5>
                            <p class="mb-1">Capacidad: {{ cabana.capacidad }} personas</p>
                            <p class="mb-1 
                                {% if cabana.estado == 'disponible' %}
                                    text-success
                                {% else %}
                                    text-danger
                                {% endif %}
                            ">
                                Estado: {{ cabana.get_estado_display }}
                            </p>
                        </div>                        
                        <div class="ms-auto">
                            <a href="{% url 'inventario_detalle' cabana_id=cabana.id %}" class="btn btn-success">Ver Inventario</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

